.fullpage {
    display:flex;
    justify-content:space-between;
    margin: 0px 140px 106px  140px;
}

H1{
    margin: 0;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 106px;
}

img {
    display:block;
    margin:auto;
}

h6 {
    text-align: center;
    padding-bottom: 83px;

}
h4 {
    text-align: center;

}
p {
    text-align: center;
}
.part {
    width: 30% ;

}
